[Unit]
Description=BorealisOS
Documentation=https://github.com/borealisOS/BorealisOS
After=network.target

[Service]
Type=simple
User=deck
WorkingDirectory=/home/deck/.local/share/borealisOS
ExecStart=/home/deck/.local/share/borealisOS/node/bin/node src/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target