.borealisNotificationContainer {
  position: fixed;
  right: 0px;
  bottom: 48px;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.borealisNotification {
  display: flex;
  width: 300px;
  height: 45px;
  background: var(--main-top-image-bg);
  box-shadow: 0px 0px 17px var(--main-top-image-bg);
  margin: 10px 0px;

  .icon {
    width: 134px;
    height: 100%;
    position: relative;

    svg {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 90%;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .message {
    flex-grow: 100;
    margin-left: 5px;
    margin-top: 3px;

    h2 {
      color: white;
      font-size: 14px;
      margin: 0px;
    }

    p {
      font-size: 13px;
      overflow: hidden;
      white-space: nowrap;
      margin: 0px;
      width: 98%;
      text-overflow: ellipsis;
    }
  }
}

.borealisNotification.slideIn {
  animation: borealisNotification-slideIn 0.5s ease-in-out forwards;

  @keyframes borealisNotification-slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

.borealisNotification.slideOut {
  animation: borealisNotification-slideOut 0.5s ease-in-out forwards;

  @keyframes borealisNotification-slideOut {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }
}